
    * {
      box-sizing: border-box;
    }

    body {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin-left: 200px;
      margin-right: 200px;
      
    }

    body::before {
      background-image: url("asa_pfp.png");
      background-size: 120px 120px;
      
      background-attachment: fixed;
      display: grid;
      background-repeat: repeat;
      content: ' ';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: 0.1;
      filter: blur(5px);
      animation: slideBg 20s linear infinite, fade 5s linear forwards;
    }

    @keyframes slideBg {
      from { background-position: 0 0; }
      to { background-position: 120px 120px; }
    }

    @keyframes fade {
      to { opacity: 0.5; filter: blur(1px) }
    }

    #sidebar {
      border:2px solid black;
      border-radius: 20px;
      margin-bottom: 10vw;
      top: 50%;
      transform: translateY(-50%); 
      justify-content: center;
      display: flex;
      flex-direction: column;
      padding: 20px;
      width: 200px;
      background-color: white;
      position: fixed;
      height: 600px; /* make this semi adjustable later */
      overflow: auto;

    }

    #sidebar a.active {
      background-color: #CFC0FC;
      color: black;
    }

    #sidebar a:hover:not(.active) {
      background-color: #656565;
      color: white;
    }
    
    #sidebar a {
      border: 2px solid black;
      border-radius: 20px;
      margin-top: 20px;
      display: block;
      color: black;
      padding: 16px;
      text-decoration: none;
      background-color: white;
     
    }

    .about-me-box {
      margin-top: 20px;
      margin-bottom: 20px;
      height: 100px;

      background-color: rgba(255, 255, 255, 0.75);
    }

    .avatar-box {
      border: 2px solid black;
      margin-bottom: 20px;
      width: 100%;
      aspect-ratio: 1 / 1;

      order: -1;
      flex: 0 1 auto;
      align-self: center;
      align-content: center;
      text-align: center;
      overflow: hidden;

      background-image: url("asa_pfp.png");
      background-color: #CFC0FC;
      background-blend-mode: luminosity;
      background-size: 110%;
      background-position: center;
    }

    .avatar-box:hover:not(.active) {
      background-blend-mode: difference;
      color: white;
    }

    .content {
      border: 2px solid black;
      padding: 20px;
      margin-left: 280px;
      background-color: rgb(214, 214, 214);
      height: 75vh;
      overflow: auto;
      margin-bottom: 40px;
      aspect-ratio: 257 / 364;

      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: auto auto;

      gap: 5px
    }

   

    .long-vertical-panel {
      border: 2px solid black;
      background-color: white;
      padding: 5px;
    }

    .album-content {
      border: 2px solid black;
      padding: 20px;
      margin-left: 280px;
      background-color: rgb(214, 214, 214);
      height: 75vh;
      overflow: auto;
      margin-bottom: 40px;
      aspect-ratio: 257 / 364;

      display: grid;
      grid-template-rows: auto 1fr;
      grid-template-columns: 2fr 4fr;
      gap: 20px 0;
      align-items: stretch;

      grid-template-areas: "album album" "left right";
    }

    .general-panel {

      border: 2px solid black;
      background-color: white;
      padding: 5px;
    }

    .album-info-right {
      border: 2px solid black;
      background-color: white;
      border-right: white;
      padding: 5px;
      overflow: scroll;
      text-align: center;
      grid-area: left;
    }

    .album-info-left {
      border: 2px solid black;
      background-color: white;
     
      padding: 5px;
      overflow: scroll;
      text-align: center;
      grid-area: right;
    }
    

    .album-panel {
      border: 2px solid black;
      aspect-ratio: 1 / 1;
      background-color: #656565;
       /* grid css no auto shrink */
      min-width: 0;
      min-height: 0;
      grid-area: album;
      grid-column: span 2;
      object-fit:cover;
      align-self: center;
    }

    .album-panel img {

      aspect-ratio: 1 / 1;
      width: 100%;
      height: 100%;
      display: block;
     

      mix-blend-mode: luminosity;
    }

    .album-panel img:hover {
      /* returns to normal album colours */
      mix-blend-mode: normal;
    }
    
    :root {
      
    }
