    /**
      credit to ali aslam for dark/light mode code:
      https://medium.com/@a1guy/toggle-dark-light-mode-and-remember-preference-with-javascript-no-libraries-4399f53287a1
    */
    * {
      box-sizing: border-box;
    }

    body {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    body::before {
      background-image: url("asa_pfp.png");
      background-size: 120px 120px;
      
      background-attachment: fixed;
      display: grid;
      background-repeat: repeat;
      content: ' ';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: 0.2;
      filter: blur(5px);
      background-color: var(--accent-color);

      background-blend-mode: lighten;
      animation: slideBg 20s linear infinite, fade 5s linear forwards;
    }

    body[data-theme="dark"]::before {
      background-image: url("yoru (1).webp");
      background-color: #42395c;
      background-blend-mode: multiply;
    }

    @keyframes slideBg {
      from { background-position: 0 0; }
      to { background-position: 120px 120px; }
    }

    @keyframes fade {
      to { opacity: 1; filter: blur(3px) }
    }

    #sidebar {
      flex: 0 0 auto;
      border: 2px dotted var(--accent-color);
      border-radius: 20px;
      justify-content: center;
      display: flex;
      flex-direction: column;
      width: 200px;
      background-color: white;
      overflow: hidden;
    }

    #sidebar a.active {
      background-color: var(--accent-color);
      color: var(--dynamic-text-color);
    }

    #sidebar a:hover:not(.active) {
      background-color: #656565;
      color: white;
    }
    
    #sidebar a {
      display: block;
      color: black;
      padding: 16px;
      text-decoration: none;
      background-color: white;
      text-align: center;
    }

    button {
      display: block;
      color: black;
      border: none;
      font: verdana;
      padding: 16px;
      text-decoration: none;
      background-color: white;
      text-align: center;
      cursor: pointer;
  
    }

    button:hover {
      background-color: #656565;
    }


    .avatar-box {
      border: 2px dotted var(--accent-color);
      margin: 20px;
      margin-left: 20px;
      margin-right: 20px;
      width: 100%;
      aspect-ratio: 1 / 1;

      order: -1;
      flex: 0 1 auto;
      align-self: center;
      align-content: center;
      text-align: center;
      overflow: hidden;

      background-image: url("asa_pfp.png");
      background-color: var(--accent-color);
      background-blend-mode: luminosity;
      background-size: 110%;
      background-position: center;
    }

    body[data-theme="dark"] .avatar-box {
      background-image: url("yoru (1).webp");
    }

    .avatar-box:hover:not(.active) {
      background-blend-mode: difference;
      color: white;
    }

    .index-wrapper {
      width: 60vw;
      max-height: 100vh;
      display: flex;
      flex-direction: row;
      gap: 40px;

      align-items: center;
    }
    /* makes content scrollable  */
    .content-wrapper {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-height: 100vh;
      overflow-y: auto;
    }

    .about-me-content {
      flex: 0 0 auto;
      border: 2px dotted var(--accent-color);
      padding: 20px;
      background-color: white;


      height: 40vh;
      aspect-ratio: 257 / 364;
      width: clamp(500px, 800px, 1200px);

      overflow: hidden;
      gap: 5px;
    }

    .content, .album-content {

      flex: 0 0 auto;
      border: 2px solid black;
      padding: 20px;
      margin: 0 auto;
      background-color: rgb(214, 214, 214);
      height: 75vh;
      overflow: auto;
      margin-bottom: 40px;
      aspect-ratio: 257 / 364;

      gap: 20px 0;
      align-items: stretch;

    }
    .content {
      

      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: auto auto;

     
    }

     .album-content {
    

      display: grid;
      grid-template-rows: auto 1fr;
      grid-template-columns: 4fr 2fr;
      gap: 20px 0;
      

      grid-template-areas: "album album" "left right";
    }


    .long-vertical-panel {
      border: 2px solid black;
      background-color: white;
      padding: 5px;
    }

   

    .general-panel {

      border: 2px solid black;
      background-color: white;
      padding: 5px;
    }

    .album-info-right {
      border: 2px solid black;
      background-color: white;
      border-left: white;
      padding: 5px;
      overflow: scroll;
      text-align: center;
      grid-area: right;
    }

    .album-info-left {
      border: 2px solid black;
      background-color: white;
     
      padding: 5px;
      overflow: scroll;
      text-align: center;
      grid-area: left;
    }
    

    .album-panel {
      border: 2px solid black;
      aspect-ratio: 1 / 1;
      background-color: #656565;
       /* grid css no auto shrink */
      min-width: 0;
      min-height: 0;
      grid-area: album;
      grid-column: span 2;
      object-fit:cover;
      align-self: center;
    }

    .album-panel img {

      aspect-ratio: 1 / 1;
      width: 100%;
      height: 100%;
      display: block;
     

      mix-blend-mode: luminosity;
    }

    .album-panel img:hover {
      /* returns to normal album colours */
      mix-blend-mode: normal;
    }
    
    :root {
      --accent-color: #CFC0FC;
      --dynamic-text-color: black;
    }

    body[data-theme="dark"] {
      --accent-color: #3f3a4e;
      --dynamic-text-color: white;
    }
